<div style="margin-top:20px;" align="center">
	
	<table cellpadding="4" cellspacing="1" border="1">
		
		<tr>
			<th align="center" valign="top">Edit Profile</th>
		</tr>
		<tr>
			<td align="left" valign="top">
				<%= render 'form' %>

				<%= link_to 'Show', @profile %> |
				<%= link_to 'Back', profiles_path %>
			</td>
		</tr>
		
	</table>
	
</div>