<div class="title">Create an Import</div>

<div style="margin-top:50px;">
	
	<div class="breadcrumb">
		<span class="LIT">1. Import Setup</span>
		<span class="non">&nbsp;>&nbsp;</span>
		<span class="">2. Sync with Zendesk</span>
		<span class="non">&nbsp;>&nbsp;</span>
		<span class="">3. Extraction</span>
		<span class="non">&nbsp;|&nbsp;</span>
		<span class="">Mapping</span>
		<span class="non">&nbsp;|&nbsp;</span>
		<span class="">Import</span>
	</div>
	
	<%= render 'special' %>
	
</div>