<div style="margin-top:50px;" align="center">
	
	<table cellpadding="4" cellspacing="1" border="0">
		
		<tr>
			<th align="center" valign="middle" style="font-size:20px; padding:7px;">Edit Customer</th>
		</tr>
		<tr>
			<td align="left" valign="top">
				<%= render 'form' %>
			</td>
		</tr>
		
	</table>
	
</div>